{
    "data": {
        "elevation": 0,
        "external_url": "https://yongsoo.duckdns.org/",
        "internal_url": "http://www.192.168.1.2:8123",
        "latitude": 37.2356159503496,
        "location_name": "\uc9d1",
        "longitude": 126.95614099502565,
        "time_zone": "Asia/Seoul",
        "unit_system": "metric"
    },
    "key": "core.config",
    "version": 1
}